.btn-menu {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 70px;
  height: 70px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-item-align: start;
  align-self: flex-start;
  cursor: pointer;
  background-color: #942880;
  border: none;
  outline: none;
}
.btn-menu__decor {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 70%;
  height: 3px;
  background-color: #fff;
  -webkit-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
}
.btn-menu__decor::before, .btn-menu__decor::after {
  content: "";
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 3px;
  background-color: #fff;
  -webkit-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
  -webkit-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
}
.btn-menu__decor::before {
  position: relative;
  bottom: 300%;
}
.btn-menu__decor::after {
  position: relative;
  top: 300%;
}
.btn-menu.--active .btn-menu__decor {
  background-color: transparent;
}
.btn-menu.--active .btn-menu__decor::before {
  -webkit-transform: rotate(45deg) translate(19%, 230%);
  -ms-transform: rotate(45deg) translate(19%, 230%);
  transform: rotate(45deg) translate(19%, 230%);
}
.btn-menu.--active .btn-menu__decor::after {
  -webkit-transform: rotate(-45deg) translate(19%, -230%);
  -ms-transform: rotate(-45deg) translate(19%, -230%);
  transform: rotate(-45deg) translate(19%, -230%);
}