$background-color: transparent;
$width: 40px;
$height: 40px;
$line-height: 2px;
$line-width: 26.5px;
$decor-color: #312565;
$decor-line-height: 2px;
@mixin decor-line-border-radius() {
  border-radius: 1px;//commit for unset
}

.btn-menu {
  display: inline-flex;
  width: $width;
  height: $height;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: $background-color;
  border: none;
  outline: none;
  &__decor {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: $line-width;
    height: $line-height;
    background-color: $decor-color;
    transition-duration: 300ms;
    height: $decor-line-height;
    min-height: $decor-line-height;
    @include decor-line-border-radius();
    &::before,
    &::after {
      content: "";
      display: inline-flex;
      justify-content: center;
      width: 100%;
      height: $decor-line-height;
      min-height: $decor-line-height;
      height: $line-height;
      background-color: $decor-color;
      transform-origin: center center;
      transition-duration: 300ms;
      @include decor-line-border-radius();
    }
    &::before {
      // transform-origin: center bottom;
      position: relative;
      bottom: 300%;
    }
    &::after {
      // transform-origin: center top;
      position: relative;
      top: 300%;
    }
  }
  &.--active &__decor {
    background-color: transparent;
    &::before {
      // transform: rotate(45deg) translate(15%, 270%);
      transform: rotate(45deg) translate(19%, 230%);
    }
    &::after {
      // transform: rotate(-45deg) translate(15%, -270%);
      transform: rotate(-45deg) translate(19%, -230%);
    }
  }
}
