$background-color: #942880;
$width: 70px;
$height: 70px;
$line-height: 3px;
$line-width: 70%;

.btn-menu {
  // @media screen and (min-width: 768px) {
  // display: none;
  // }
  // @media screen and (max-width: 767.98px) {
  display: inline-flex;
  width: $width;
  height: $height;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  cursor: pointer;
  background-color: #942880;
  border: none;
  outline: none;
  // }
  &__decor {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: $line-width;
    height: $line-height;
    background-color: #fff;
    transition-duration: 300ms;
    &::before,
    &::after {
      content: "";
      display: inline-flex;
      justify-content: center;
      width: 100%;
      height: $line-height;
      background-color: #fff;
      transform-origin: center center;
      transition-duration: 300ms;
    }
    &::before {
      // transform-origin: center bottom;
      position: relative;
      bottom: 300%;
    }
    &::after {
      // transform-origin: center top;
      position: relative;
      top: 300%;
    }
  }
  &.--active &__decor {
    background-color: transparent;
    &::before {
      // transform: rotate(45deg) translate(15%, 270%);
      transform: rotate(45deg) translate(19%, 230%);
    }
    &::after {
      // transform: rotate(-45deg) translate(15%, -270%);
      transform: rotate(-45deg) translate(19%, -230%);
    }
  }
}
